*{
    margin: 0;
    padding:0 ;
    box-sizing: border-box;
}

.nav h1{
    padding: 10px 30px;
    font-size: 50px;
    color: #bf2357;
    font-weight: 700;
}
.nav p{
    font-size: 22px;
    padding:  0px 30px;
    padding-bottom: 15px;
    font-weight: 600;
}

.nav ul{
    display: block;
    margin: 0px 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: grey;
    /* padding: 10px; */

}

ul li{
    font-size: 18px;
    font-weight: 500;
   padding: 10px;
    list-style-type: none;
    color: #fff;
}

ul :hover{
 background: #bf2357;
 color: #000;
}
.active{
    background-color: #bf2357;
}